*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #c2c2c2;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

/* HEADER */
.page-header{
    background-color: #dedede;
    padding: 10px 24px;
}

.page-header .logo{
    height: 40px;
}

/* CONTENT */
.todo-card {
    background-color: white;
    border-radius: 10px;
}

.buttons{
    background-color: white;
    height: 30px;
    border-bottom: 1px solid #c2c2c2;
}

.add-task{
background-color: rgb(110, 110, 221);
border-radius: 5px;
}

.add-section{
background-color: white;
border-radius: 5px;
}

ul, ol{
    list-style: none;
    background-color: white;
}

.section-new-task{
    margin-bottom: 20px;
}

.check{
    color: green;
    display: inline-block;
}

.editorial{
    background-color: #09a9ed;
    color: white;
    margin-left: 10x;
    border-radius: 5px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 50px;
    height: 14px;
}